body { padding-top: 50px; }


/* navbar */
#ms_logo-nav .navbar-default {
  background-color: #fff;
  border-color: transparent;
}

#ms_logo-nav .img-responsive {
  height: 20px;
}

#ms_logo-nav .btn-default {
  margin-top: 10px;
  background-color: transparent;
  border-color: #006aff;
  color: #006aff;
}

#ms_logo-nav .navbar-nav>li>a {
  line-height: 25px;
  color: hsl(221,93%,16%);
  font-weight: bold;
}

#ms_logo-nav .navbar-brand {
  margin-right: 150px;
}

#ms_logo-nav .navbar-default .navbar-toggle .icon-bar {
    background-color: #006aff;
}

/* jumbotron */
#ms_jumbo {
  height: 540px;
  background-image: url(../img/jumbo.svg);
}

#ms_jumbo h1 {
  margin-top: 80px;
  font-size: 62px;
  color: #fff;
}

#ms_jumbo p {
  font-size: 20px;
  color: #92afde;
}

#ms_jumbo .ms_form-jumbo {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 40px;
}

#ms_jumbo .ms_form-jumbo h3 {
  font-size: 30px;
}

#ms_jumbo .ms_form-jumbo h4 {
  font-size: 30px;
  color: #006aff;
}

#ms_jumbo .ms_form-jumbo p {
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}

#ms_jumbo .ms_form-jumbo p a {
  text-decoration: underline;
}

#ms_jumbo .ms_form-jumbo button img {
  height: 20px;
}

#ms_google {
  position: relative;
  margin-top: 15px;
}

#ms_google button::before {
  background: url(https://ir.ebaystatic.com/rs/v/jaefjx4ozi0cbpdwodr3clmud2h.png) 0px 6px no-repeat;
  background-size: 90%;
  content: "";
  position: absolute;
  top: 1px;
  left: 9px;
  width: 23px;
  height: 90%;
}

/* innovative  */
#innovative {
  background-color: #f3f5f9;
}

#innovative h6 {
  font-size: 16px;
  color: #5b6987;
  margin: 30px 0;
}

#innovative ._view-customer {
  margin: 20px 0;
}
#innovative ._view-customer a {
  color: #006aff;
}

/* deploy */
#deploy {
  margin-top: 30px;
}

#deploy h3 {
  font-size: 36px;
  color: #031b4e;
}

#deploy p {
  font-size: 23px;
  color: #5b6987;
}

#deploy .list-group {
  border-left: 1px solid rgba(3, 27, 78, 0.6);
  margin-top: 60px;
  margin-left: 85px;
}

#deploy .list-group button {
  border: none;
  color: #5b6987;
  font-size: 18px;
}

#deploy ._deploy-card {
  margin-top: 60px;
}

#deploy ._deploy-card img {
  display: block;
}

#deploy ._deploy-card h5 {
  text-align: left;
  font-size: 18px;
  color: #031b4e;
}
#deploy ._deploy-card p {
  font-size: 14px;
  text-align: left;
}

/* designed */
#designed {
  background-color: #f3f5f9;
  margin-top: 30px;
}

#designed h3 {
  font-size: 36px;
  color: #031b4e;
  margin-top: 45px;
}

#designed p {
  font-size: 23px;
  color: #5b6987;
  margin-top: 20px;
}
#designed .ms_carousel {
  margin-top: 70px;
  margin-bottom: 20px;
}

#designed .ms_carousel img {
  height: 400px;
}

#designed .ms_carousel .glyphicon-chevron-left {
  font-size: 25px;
  color: #c9c6c5;
  margin-right: 15px;
}

#designed .ms_carousel .glyphicon-chevron-right {
  font-size: 25px;
  margin-left: 15px;
}

#designed span:last-of-type {
  color: #031b4e;
}

#designed .ms_option {
  margin-top: 10px;
  color: #337ab7;
}

/* smarphone version */
@media all and (max-width: 767px) {

  /* navbar */
  #ms_logo-nav .navbar-toggle {
  border: none;
  border-color: none;
  }
  #ms_logo-nav .navbar-brand {
    margin-right: 0;
  }

  /* jumbotron */
  #ms_jumbo {
    height: auto;
  }

  #ms_jumbo .ms_form-jumbo {
    margin: 30px;
  }

  #ms_jumbo  p {
    font-size: 26px;
  }

  /* designed */
  #designed .ms_carousel .glyphicon-chevron-left, #designed .ms_carousel .glyphicon-chevron-right {
    display: none;
  }

  #designed .ms_carousel img {
    width: 70%;
    height: auto;
  }

}

/* tablet version */
@media (min-width: 768px) and (max-width: 1199px) {

  /* navbar */
  #ms_logo-nav .navbar-header {
    float: none;
  }

  #ms_logo-nav .navbar-toggle {
    display: block;
    border: none;
    border-color: none;
  }

  #ms_logo-nav .navbar-nav {
    display: none;
  }

  /* jumbotron */
  #ms_jumbo {
    height: auto;
  }

  #ms_jumbo h1 {
    font-size: 53px;
  }

  #ms_jumbo .ms_form-jumbo {
    margin: 30px;
  }

}
